body, html {
    height: 100%;
}
.bg { 
    background-image: url("https://i.pinimg.com/originals/e5/0d/62/e50d624d3cbf1a9276a4fbbeac4dab18.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#menu {
	color:white;
	border-style:solid;
	border-color:black;
	border-width:5px;
	float:right;
	background-color:black;
	margin-top:3%;
}
#background {
	position:relative;
}
#enemy {
	margin-top:5%;
	height:20%;
	width:20%;
	float:left;

}
#playerui{
;
	
}
.player {
}
#player {
}
.skillButton {
	margin:15% 0 15% 0;
	width:100%;
	height:100%;
}
.skills {
	margin-top:30%;
	background-color: black;
}
#wizardPlayer {
	height:100%;
	width:100%;
	position: relative;
	margin-top:
	margin-right:none;
	margin-left:none;
	padding:none;
}
#skills1 {
margin-left:20%;
margin-right:none;
padding-right:none;
z-index:1;
}
#skills2 {
	margin-right:10%;
	z-index:1;
}
#overbar {
	border-style:solid;
	border-color:black;
	background-color:grey;
	text-align:center;
	margin-bottom:2%;
}
.hpbar {
	border-style:solid;
	border-color:black;
	background-color:grey;
	text-align:center;
}
#enemyhpbar {
	margin:1%;
}